<!doctype html>
<html>
<body style="font-family:arial, sans-serif">
    <h1 style="background:lightblue;padding:10px">
            Data Programming Final Project
    </h1>
    
    <h2>Click to see charts</h2>
    
    <h1><a href="chart1">Top 10 Countries With Population in 2007 Bar Chart</a></h1>
    <h1><a href="chart2">Top 10 Countries With Population in 1952 Bar Chart</a></h1>
    <h1><a href="chart3">Top 5 Countries With Highest Life Expectancy in 1952 Scatter Chart</a></h1>
    <h1><a href="chart4">Top 5 Countries With Highest Life Expectancy in 2007 Scatter Chart</a></h1>
    <h1><a href="chart5">GDP Percap of Selected Countries between Years 1952 to 2007 Line Chart</a></h1>
    <h1><a href="chart6">Life Expectancy in Selected Countries between Years 1952 to 2007 Line Chart</a></h1>

</body>
</html>
